@media (max-width: 991.98px) {
  .wrap {
    padding: 0;
  }
  .container {
    width: 100%;
  }
  //p, a, h3 {
  //  font-weight: 600 !important;
  //}

  .edit {
    font-size: 0 !important;
    img {
      width: 16px;
      display: block !important;
    }
  }
  .button {
    border-radius: 18px;
    margin: 10px auto 0;
    margin-right: auto !important;
    min-width: 120px !important;

    &--green {
      background: #00c377;
      color: #fff;
      transition: all .25s ease-in-out;
    }
  }

  .login {
    .submited-info {
      padding: 0 20px!important;
      margin-bottom: 20px !important;
      .info p {
        color: $green !important;
      }
    }
  }
  .payment {
    display: none;
    &.active {
      display: block;
      padding: 0 20px;
      .info-list {
        padding-bottom: 8px;
        .item {
          align-items: flex-end;
          padding: 8px 0 8px 37px;
          position: relative;
          width: 100%;
          > div  {
            margin-bottom: 10px;
          }
          img {
            position: absolute;
            top: 11px;
            left: 5px;
          }
          .title {
            color: #8f8f8f;
            font-size: 13px;
          }
          .value {
            color: #000;
            font-size: 18px;
            margin: 0;
          }
          button.button {
            font-size: 13px;
            white-space: nowrap;
            &.active {
              background: $green;
              color: #fff;
            }


          }
        }
        .pay {
          padding-top: 23px;
          border-top: 1px solid #ddd;
          .check {
            input[type=checkbox] {
              &:checked {
                + label {
                  &:after {
                    content: '\f14a';
                  }
                }
              }
            }
            label {
              margin: 0;
              a {
                color: $green;
              }
            }
          }
          .row {
            padding-top: 15px;
            align-items: center;
            button.button--green {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .fields {
    padding-top: 0;
    .section {
      padding: 0;
      border-bottom: 1px solid #ededed;
      margin: 0;

      h3 {
        padding: 15px 20px 15px;
      }

      &.active {
        h3 {
          background-color: #f0fff9;
        }
        .content {
          padding: 15px 17px 40px;
        }
        fieldset:not(:first-of-type) {
          display: none;
        }
      }
      &-info {
        background-color: #f2f2f2;
      }
      &.visited {
        .submited-info {
          padding: 20px !important;
          margin: 0;
          &.filled-question {
            .question-submited-content {
              margin-bottom: 40px;
            }
          }
          &.active {
            background: $light-green;

          }
          .item {

          }
          .question {
            display: none;
          }
        }
      }
      
      &.interview {
        &.active {
          padding-top: 0;
        }
        fieldset {
          &:nth-of-type(5) {
            padding-bottom: 40px !important;
          }
          .back-next {
            top: 50px;
            background: #f8f8f8;
            bottom: auto;
            width: 100%;
            left: 0;
            height: 25px;
            line-height: 25px;

          }
          .reset {
            top: 50px;
            bottom: auto;
            z-index: 2;
            height: 25px;
            line-height: 25px;
          }
          @media (max-width: 445px) {
            .back-next, .reset {
              top: 76px;
            }
          }
        }
      }

      &.methods {
        margin: 0;
        .submited-info {
          padding: 0 20px!important;

          .item {
            margin: 0;
            .icon, button {
              display: none;
            }
            p {
              margin: 0;
              text-align: left;
              color: #878787;
            }
          }
        }
      }

      &.date {
        .row-item.slot {
          .hours, .price {
            span {
              font-size: 16px;
            }
          }
          .methods {
            display: none;
          }
          button {
            background: $green;
            color: #fff;
            line-height: 28px;
            font-size: 15px;
            border-radius: 14px;
            min-width: 0 !important;
            margin-right: 0 !important;
            padding: 0 8px;
          }
        }
      }

      &.doctor-choice {
        .doctors-list {
          .item, .item-default {
            width: calc(50% - 20px);
            min-width: 0;


          }
        }
      }
      &.login {
        .submited-info {
          .data {
            p {
              color: #7d7d7d;
              &.toggler {
                width: 100%;
                display: block;
                color: #242424;
                margin-top: 0;

              }
            }
          }
        }
      }
    }
  }
  .popup, .popup-default {
    display: none;
    position: fixed;
    top: 10%;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: auto;
    background: #fff;
    box-shadow: 0 0 40px rgba(0,0,0,.3);
    padding: 20px;
    .close {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .header {
      .name {
        margin: 0;
        font-weight: 600;
      }
      .prof {
        margin: 0;
        font-weight: 500;
      }
      .basic-rate {
        font-weight: 400;
        margin: 0;
        p {
          margin: 0;
          display: inline-block;
          font-size: 14px;
          &.rating {
            img {
              width: 14px;
            }
          }
        }
      }
    }
    p.content {
      margin: 20px 0;
      line-height: 1.2;
      font-size: 15px;
      font-weight: 300;
    }
    > .rating {
      p {
        width: 48%;
      }
      p.rating {
        display: inline-block;

        img {
          width: 14px;
        }
      }
      p.date {
        display: inline-block;
        text-align: right;
      }
      .content {
        p {
          padding: 4px;
          background: #ededed;
          width: 100%;
          font-size: 14px;
          margin: 0 0 4px;
        }
      }
      p.name {
        font-size: 13px;
        font-weight: 300;
      }
    }
  }
}

