@media (max-width: 1199.98px) {
    .fields {

        .section {

            &.methods {
                .content {
                    .contact-method {
                        .item {
                            .icon {
                                width: 80px;
                                height: 80px;

                                img {
                                    width: 45px;
                                }
                            }

                            .name {
                                font-size: 16px;
                            }

                            button {
                                background: $green;
                                color: #fff;
                                font-size: 14px;
                                line-height: 28px;
                                height: 28px;
                                min-width: 0 !important;
                                border-radius: 14px;
                                padding: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
