@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: $transition;
}

body {
  background: $bg-body-grey;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

ul, ol {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  li {

  }
}

a, button, .section-submit {
  cursor: pointer;
}

.nav-tabs {
  border-bottom: none !important;
}

.submited-info {
  display: none;
}
.section-info {
  ul {
    list-style: none;
    padding: 15px;

    li {
      display: block;
      p {
        line-height: 1.2;
        &.label {
          font-weight: 600;
          color: #3e3e3e;
          margin-bottom: 6px;
        }
        &.value {
          font-weight: 600;
          color: #3e3e3e;
          font-size: 14px;
          padding: 4px 9px;
          border: 1px solid #ededed;
          background: #f2f2f2;
          margin-bottom: 11px;
          display: inline-block;
        }
        &.price {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;

          > span {
            span {
              font-size: 20px;
              color: $green;
            }
          }
        }
        &.check {
          &:before {
            content: '\f00c';
            font-family: FontAwesome, sans-serif;
            color: $green;
            position: absolute;
            left: 17px;

          }
          padding: 10px 0 10px 30px;
          margin-bottom: 0;
        }
      }
      a {
        font-size: 21px;
        display: inline-block;
        vertical-align: middle;
        color: $green !important;
        margin-bottom: 3px;
      }
      &.header {
        border-bottom: 1px solid #ededed;
        p {
          font-size: 20px;
          color: #3e3e3e;
          display: inline-block;

        }
      }
    }
  }
}
//INPUT TYPE NUMBER
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity {
  margin: 0 20px;

  input {
    width: 72px;
    //line-height:;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 8px;
    border: 1px solid #eee;
  }
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: absolute;
  right: 3px;
  height: 75%;
  top: 50%;
  width: 20px;
  transform: translate(0,-50%);
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  text-align: center;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  display: flex;
  align-items: center;
  img {
    width: 75%;;

  }

}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
  display: flex;
  align-items: center;
  img {
    width: 75%;;

  }

}

.form-control {
  border-radius: 4px;
  border-color: #d9d9d9;
  padding: 8px 14px;
  &:focus {
    box-shadow: none;
    border-color: $green !important;
  }
}

.wrap {
  // padding: 27px 0;
}

a{
  text-decoration: none;
  &:hover {
    transition: all .3s ease-in-out;
    text-decoration: none;
  }
}
* {
  &:focus, &:active {
    outline: 0 !important;
  }
}
button, a {
  cursor: pointer;

  &.button {
    line-height: 36px;
    padding: 0 17px;
    display: inline-block;
    border: none;
    &__rounded {
      border-radius: 18px;
      margin-right: 24px;
    }
    &--green {
      background: $green;
      color: #fff;
      &--outline {
        background: #fff;
        color: $green;
        border: 2px solid $green;
        min-width: 178px;
        &:hover {
          background: $green;
          color: #fff;
          transition: $transition;
        }

      }
    }
  }
}
.breadcrumbs {
  .container {
    align-items: center;
    display: flex;
  }
}
.check {
  input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    &:checked {
      + label {
        &:after {
          content: '\f046';
          font-family: FontAwesome, sans-serif;
          color: $green;
          font-size: 20px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
        }
      }
    }
  }
  label {
    padding-left: 24px;
    position: relative;
    cursor: pointer;

    &:before {
      content: '\f096';
      font-family: FontAwesome, sans-serif;
      color: $green;
      font-size: 22px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}




.tab-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .tab-pane {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    &.active {
      width: 100%;
      height: auto;
      opacity: 1;
    }
  }
}