.fields {
  .form-row {

    &.visited {
      .section {
        border: 1px solid $progres-grey;
        .submited-info {
          display: block;
          .item {
            display: inline-block;
            min-width: 50%;
            .label {
              color: $submited-info-color;
            }
            .values {
              span {
                display: inline-block;
                background: $text-info-bg;
                color: $submited-info-color;
                border: 1px solid $progres-grey;
                border-radius: 4px;
                margin: 0 8px 0 0;
                line-height: 22px;
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
  }

  .section {
    border: 1px solid $progres-grey;
    // padding: 24px 20px;
    margin-bottom: 8px;

    &__info {
      background-color: #f0fff9;
      border: 1px solid #ededed;

      .content {
        h6 {
          font-weight: 600;
          margin-bottom: 8px;
          display: inline-block;
        }

        .condition {
          padding: 10px 13px 20px 9px;
          border-radius: 3px;
          border: 1px solid #ededed;
          background-color: #f2f2f2;
          margin-bottom: 18px;

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    &.active {
      // padding: 15px 20px;
      background: #ffffff;

      .progress {
        height: 8px;
        background-color: #dfdfdf;
        box-shadow: inset 0 2px 2px rgba(1, 1, 1, 0.11);

        .progress-bar {
          border-radius: 0 4px 4px 0;
          background-color: #00e189;
        }
      }

      .header {
        padding: 15px 20px 15px;
        background-color: #ffffff;

        @media (max-width: 767.98px) {
          background-color: #f0fff9;
          border: 1px solid #ededed;
        }
      }

      fieldset {
        &:not(:first-of-type) {
          display: none;
        }

        &.age {

          .content {
            flex-flow: column;
          }
        }
      }

      .submited-info {
        display: none;
      }
    }

    h3 {
      font-size: 20px;
      margin: 0;
    }

    .skip {
      margin-top: 43px;
      border: 1px solid #e5e5e5;
      background: transparent;
      color: #00c377;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
      height: 56px;
    }

    .content {
      padding: 18px 23px;
      display: flex;
      flex-wrap: wrap;
      p {
        margin-bottom: 13px;
      }
      button {
        margin: 26px auto 0;
      }

      .check {
        display: inline-flex;
        align-items: center;

        @media (max-width: 767.98px) {
          margin-top: 18px;
        }

        label {
          margin: 0 0 0 20px;

          @media (max-width: 767.98px) {
            margin-left: 0;
          }
        }
      }
      .doctor-choose {
        width: 50%;
        max-width: 350px;
        display: inline-flex;

        .drop-toggle {
          color: $text-info-color;
          border: 1px solid $select-border;
          display: inline-block;
          border-radius: 3px;
          padding: 8px;
          position: relative;
          width: 100%;
          cursor: pointer;

          &:after {
            content: '\f107';
            font-family: FontAwesome, sans-serif;
            color: $green;
            border: none;
            font-size: 23px;
            line-height: 1;
            position: absolute;
            top: 13px;
            right: 7px;
          }
          span {
            display: block;
            &.doctor {

            }

            &.time {
              font-size: 13px;
              font-weight: 400;
            }
          }
          .drop-menu {
            max-height: 0;
            padding: 0;
            overflow: hidden;
            transition: $transition;
            .item {
              color: $text-info-color;
              display: inline-block;
              position: relative;
              cursor: pointer;

              span {
                display: block;
                &.doctor {

                }

                &.time {
                  font-size: 13px;
                  font-weight: 400;
                }
              }
            }
            &.open {
              max-height: 900px;
              transition: $transition;
            }
          }
        }

        @media (max-width: 630px) {
          width: 100%;
          max-width: 100%;
        }
      }
      .contact-method {
        display: flex;
        width: 100%;
        .item {
          display: inline-flex;
          margin: 0 9px;
          // width: calc(33.33333333% - 18px);
          max-width: 200px;
          justify-content: center;
          flex-wrap: wrap;
          .icon {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $green;
            img {

            }
          }
          p {
            display: block;
            text-align: center;
            margin: 18px 0 10px;
            width: 100%;

          }
          button {
            margin: 0;

            @media (max-width: 767.98px) {
              background: #00c377;
              color: #ffffff;
            }
          }
        }
      }
    }

    .next-section {
      height: 56px;
      width: 100%;
      border: 1px solid #efefef;
      border-left: 0;
      border-right: 0;
    }

    .doctors-list {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-wrap: wrap;
      max-height: 0;
      padding: 0;
      overflow: hidden;
      transition: $transition;
      &.open {
        max-height: 420px;
        transition: $transition;

      }
      &-toggle {
        color: $green;
        font-size: 13px;
        &:after {
          content: '\f107';
          font-family: FontAwesome, sans-serif;
        }

        @media (max-width: 767.98px) {
          margin-top: 10px;
        }
      }

      .item {
        cursor: pointer;
        display: inline-flex;
        width: calc(20% - 20px);
        min-width: 134px;
        margin: 0 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 13px;
        border-bottom: 2px solid #cecece;
        min-height: 210px;
        min-width: 130px;

        .avatar {
          border-radius: 50%;
          width: 90px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;

          img {
          }
        }
        p {
          text-align: center;
          line-height: 1.3;
          margin: 0 auto;
          width: 100%;
          justify-content: center;
          padding: 0 10px;

          &.name {
            font-size: 13px;
          }
          &.rating {
            img {
              width: 11px;
              display: inline-block;
              margin: 0 2px;
            }
            span {
              font-size: 13px;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        &.active, &.default, &:hover {
          border-bottom: 2px solid $green;
          .avatar {
            border: 6px solid $green;
            position: relative;
            &:after {
              content: url("../img/check.svg");
              width: 20px;
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: 99;
            }
          }
        }
      }
    }

    &.date {

      .content {

        .row {

          @media (max-width: 767.98px) {
            margin-left: 0;
            margin-right: 0;
          }
        }

        .dropdown {
          width: 321px;
          padding: 10px 8px 7px 6px;
          border-radius: 3px;
          border: 1px solid #d9d9d9;
          background-color: #ffffff;
          margin-bottom: 17px;

          a {
            color: #393939;

            &.dropdown-toggle::after {
              content: '\f107';
              font-family: FontAwesome, sans-serif;
              color: $green;
              border: none;
              font-size: 23px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 7px;
            }

            span {
              color: #878787;
            }
          }

          &-menu {
            right: 0;
          }
        }

        .lang,
        .zone {

          @media (max-width: 767.98px) {
            padding-left: 27px;
          }
        }

        .tabs {
          display: flex;
          margin-bottom: 18px;

          .tab {
            display: inline-flex;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-wrap: wrap;
              flex-direction: column;
              padding: 12px 14px;
              margin-right: 8px;
              border: 1px solid $green;
              border-radius: 2px;


              span {
                font-size: 20px;
                justify-content: center;
                color: #000;
                text-align: center;
                line-height: 1.1;

              }
            }
            &.active {
              a {
                border: 1px solid $light-green;
                background: $light-green;
              }
            }
          }

          @media (max-width: 767.98px) {
            padding-left: 27px;
          }
        }
        .row-item.slot {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 7px;
          border-top: 1px solid #ddd;
          cursor: pointer;

          &:hover {
            background: $light-green;
            button {
              background: $green;
              color: #fff;
              transition: $transition;
            }
          }
          &:last-of-type {
            border-bottom: 1px solid #ddd;
          }
          .hours {
            font-size: 20px;
          }
          .methods {
            img {
              height: 42px;
              margin: 0 10px;
              display: inline-block;

            }
            .unavailable {
              filter: saturate(0);
            }
          }
          .price {
            span {
              font-size: 20px;

            }
          }
          button {
            margin: 0;

            @media (max-width: 767.98px) {
              max-width: 85px;
              background: #00c377;
              color: #ffffff;
            }
          }

          @media (max-width: 767.98px) {
            padding: 16px 6px 15px 27px;
          }
        }
        .days-row {
          margin-top: 10px;
          padding-bottom: 19px;
          border-bottom: 1px solid #ddd;
          .slick-slide {
            height: auto;
          }
          .slick {
            &-arrow {
              position: absolute;
              top: 50%;
              z-index: 10;
              transform: translateY(-50%);
              cursor: pointer;

            }
            &-prev {
              left: 0;
            }
            &-next {
              right: 0;

            }
          }
          .day {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            span {
              text-align: center;
              justify-content: center;
              line-height: 1.2;
            }
            &-name {
              width: 100%;
              flex-basis: 100%;
              font-size: 20px;
            }
            &-date {
              width: 100%;
              flex-basis: 100%;
              font-size: 25px;
            }
          }
        }

        .slots-section {
          display: flex;
          justify-content: space-around;
          padding: 35px 0 18px;

          .other-day {

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 3px;
              border: 1px solid #6cd1ab;
              background-color: #ffffff;
              min-width: 100px;
              font-size: 15px;
              font-weight: 400;
              cursor: pointer;

              &:not(:last-of-type) {
                margin-bottom: 11px;
              }

              &.selected {
                color: #ffffff;
                background-color: #00c377;
              }
            }
          }
        }

        .next-section {
          padding-right: 6px;
        }

        @media (max-width: 767.98px) {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 0;
        }
      }
    }

    @media (max-width: 767.98px) {
      margin-bottom: 0;
    }
  }
}
