.fields {
  padding-top: 60px;

  .form-row {
    .section {
      position: relative;
      background: #e7e9ec;
      &:not(.active):not(.visited) {
        pointer-events: none;
      }
      h3 {
        color: #bebebe  ;
      }
      .submited-info {

        .item {

          &:not(:last-of-type) {
            margin-bottom: 8px;
          }
        }

        .questions {

          margin-top: 16px;

          .question {
            display: flex;

            span {
              color: #008234;
              font-size: 14px;
              font-weight: 400;
              background: $light-green;
              line-height: 24px;
              padding: 0 10px;
              border-radius: 3px;
            }

            &--red {
              margin-top: 7px;

              span {
                color: #820000;
                background-color: #f2dbdc;
              }
            }
          }
        }
        .edit {
          font-size: 14px;
          color: $green;
          position: absolute;
          right: 20px;
          bottom: 10px;
          img {
            display: none;
          }

        }
      }
      &.active {
        h3 {
          color: #292929;
        }
      }
      &.visited {
        background: #fff;
        h3 {
          color: #7d7d7d;
        }
        .submited-info {
          padding: 19px 0 0;

          .item {
            display: inline-block;
            min-width: 33%;
            .label {
              color: $submited-info-color;
            }
            .values {

              span {
                display: inline-block;
                background: $text-info-bg;
                color: $submited-info-color;
                border: 1px solid $progres-grey;
                border-radius: 4px;
                margin: 0 8px 0 0;
                line-height: 22px;
                padding-left: 5px;

                &.remove {
                  margin-right: 0;
                  padding-right: 5px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }

  }
  .section {
    padding:15px 20px;
    margin-bottom: 8px;

    .content {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
    }

    &:after {
      content: '';
      clear: both;
      display: block;
    }


    &-info {
      display: none;

      .content {

        h6 {
          font-weight: 600;
          margin-bottom: 8px;
          display: inline-block;
        }

        .condition {
          padding: 10px 13px 20px 9px;
          border-radius: 3px;
          border: 1px solid #ededed;
          background-color: #f2f2f2;
          margin-bottom: 18px;

          p {
            margin-bottom: 0;
          }
        }

        .recc {
          padding-left: 0;

          .rate {
            display: inline-block;
            width: 18px;
            height: 16px;
            border-radius: 3px;
            border: 1px solid #b7b7b7;
            margin-right: 2px;

            &.filled {
              background-color: #00c377;
            }
          }

          li {
            color: #008234;
            font-size: 14px;
            font-weight: 400;

          }
        }
      }

      &.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: $light-green;


        @media (max-width: 991.98px) {
          position: relative;
        }

        @media (min-width: 992px) {
          background: #ffffff;
        }
      }
    }
    fieldset {
      .reset {
        display: none;
        position: absolute;
        top: 14px;
        right: 14px;
        color: #535353;
        font-size: 14px;
        font-weight: 400;
        @media (max-width: 1200px) {
          top: auto;
          bottom: 7px;
        }
      }
      .back-next {
        display: none;
        height: 30px;
        padding: 0 20px;
        position: absolute;
        bottom: 0;
        left: 0;

        a {
          color: #535353;
          font-size: 14px;
          font-weight: 400;

          i {
            margin-right: 8px;
          }
        }
      }

      .skip {
        display: none;
        margin-top: 43px;
        border: none;
        border-top: 1px solid #e5e5e5;
        background: transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #00c377;
        font-size: 16px;
        font-weight: 400;
        height: 56px;
      }
    }
    &.active {
      background: #ffffff;
      .back-next, .reset, .skip {
        display: block;
      }
      .content {
        height: auto;
        //&:first-of-type {
        //  padding-bottom: 0;
        //}
        //&:last-of-type {
        //   padding-top: 0;
        //}
      }

      fieldset {

        &:not(:first-of-type) {
          display: none;
        }


      }

      .submited-info {
        display: none;
      }

    }


    h3 {
      font-size: 20px;
      margin: 0;
      cursor: pointer;
      font-weight: 600;

      i {
        color: $green;
      }
    }
    &.doctor-choice {
      .content {
        align-items: flex-start;
      }
      &.active {
        .content {
          &.visible {
            overflow: visible;
          }
        }
      }
      .check {
        margin-top: 30px;
        label {
          span {
            color: $green;
            font-weight: 700;
          }
        }
      }
      .submited-info {
        .toggler {
          height: 32px;
          line-height: 32px;
          width: 50%;
          font-size: 13px;
          background: $text-info-bg;
          color: $submited-info-color;
          border: 1px solid $select-border;
          border-radius: 3px;
          padding: 0 13px;
          display: inline-block;
          position: relative;

          &:after {
            content: "\f107";
            font-family: FontAwesome,sans-serif;
            color: $submited-info-color;
            border: none;
            font-size: 20px;
            line-height: 1;
            position: absolute;
            top: 7px;
            right: 7px;
          }
        }
        .check {
          filter: saturate(0);
          display: inline-block;
          pointer-events: none;
        }
      }
    }
    .content {
      display: flex;
      flex-wrap: wrap;
      p {
        margin-bottom: 13px;
        margin-top: 18px;
        line-height: 19px;
        width: 100%;
        font-weight: 400;

      }

      button {

      }
      .check {
        display: inline-flex;
        align-items: center;
        width: 50%;

        label {
          margin: 0 0 0 20px;

          // @media (max-width: 853px) {
          //   margin: 0;
          // }
        }
        @media (max-width: 630px) {
          width: 100%;

        }
      }
      .age {
        display: flex;
        align-items: center;
        label {
          color: #898989;
        }

      }
      .doctor-choose {
        width: 50%;
        max-width: 350px;
        display: inline-flex;



        @media (max-width: 630px) {
          width: 100%;
          max-width: 100%;
        }
      }
      .contact-method {
        display: flex;
        width: 100%;
        padding: 18px 0;

        .item {
          display: inline-flex;
          margin: 0 9px;
          width: calc(33.33333333% - 18px);
          max-width: 200px;
          justify-content: center;
          flex-wrap: wrap;
          .icon {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $green;
            img {
              width: 60%;
            }
          }
          p {
            display: block;
            text-align: center;
            margin: 18px 0 10px;
            width: 100%;

          }
          button {
            margin: 0;
          }
        }
      }
      .question {
        display: none;
        width: 100%;
        .content {
          justify-content: flex-end;
        }
        textarea {
          margin-top: 18px;
        }
        button.button--green {
          float: right;
          margin-top: 21px;
          margin-right: 0;
        }
      }
    }
    &.methods {
      .submited-info {
        .item {
          filter: saturate(0);
          display: inline-flex;
          pointer-events: none;
          margin: 20px 9px 0;
          width: calc(33.33333333% - 18px);
          max-width: 200px;
          min-width: 0 !important;
          justify-content: center;
          flex-wrap: wrap;
          .icon {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $green;
            text-align: center;
            margin: 0 auto;
            img {
              width: 60%;
            }
          }
          p {
            display: block;
            text-align: center;
            margin: 18px 0 10px;
            width: 100%;
            color: #b6b6b6;

          }
          button {
            margin: 0 auto;
            border-color: #b8b8b8;
            background: transparent !important;
            display: block;
          }
        }

        .question-submited-content {
          display: none;
        }
        &.filled-question {
          .item {
            display: none;
          }

          .question-submited-content {
            display: block;
            p.box {
              display: block;
              width: 100%;
              min-height: 80px;
              border: 1px solid #d9d9d9;
              border-radius: 3px;
              margin-bottom: 20px;
              padding: 8px;
              color: #7d7d7d;
            }
          }
        }
      }
    }
    &.interview.active {
      position: relative;
      padding-top: 25px;


      fieldset {
        .progres {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;

          height: 7px;
          background: $progres-grey;
          span {
            position: absolute;
            height: 7px;
            top: 0;
            background: $green;
          }
        }
        &:nth-of-type(3) {
          .progres {
            span {
              width: 25%;
            }
          }
        }
        &:nth-of-type(4) {
          .progres {
            span {
              width: 50%;
            }
          }
        }
        &:nth-of-type(5) {
          padding-bottom: 120px;
          .back-next {
            bottom: 55px;
          }
          .progres {
            span {
              width: 75%;
            }
          }

        }
      }
       min-height: 250px;

      button.button--green {
        margin-top: 21px;
      }
    }
    .drop-toggle {
      color: $text-info-color;
      border: 1px solid $select-border;
      display: inline-block;
      border-radius: 3px;
      padding: 8px;
      position: relative;
      width: 100%;
      cursor: pointer;
      margin-top: 15px;

      &:after {
        content: '\f107';
        font-family: FontAwesome, sans-serif;
        color: $green;
        border: none;
        font-size: 23px;
        line-height: 1;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        right: 7px;

      }
      span {
        display: block;
        font-size: 17px;
        font-weight: 400;
        padding-right: 15px;
        &.doctor {

        }


        &.time {
          font-size: 12px;
          font-weight: 400;
          color: #b0b4b1;
        }
      }
      .drop-menu {
        max-height: 0;
        overflow: hidden;
        transition: $transition;
        position: absolute;
        top: calc(100% - 1px);
        width: calc(100% + 2px);
        left: -1px;
        opacity: 0;

        z-index: 9999;
        background: #fff;
        .item {
          color: #1b1414;
          display: block;
          position: relative;
          padding: 4px 8px;

          &:hover {
            background: #f0fff9;
          }

          span {
            display: block;
            font-size: 17px;
            font-weight: 500;
            &.doctor {

            }

            &.time {
              font-size: 13px;
              font-weight: 400;
            }
          }
        }
        &.open {
          opacity: 1;
          max-height: 900px;
          transition: $transition;
          border: 1px solid $select-border;
          border-top: none;
          border-radius: 0 0 3px 3px;


          .item {

          }
        }
      }
    }
.line {
  border-top: 1px solid #dedede;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  button {
    float: right;
    margin: 0;
  }
}
    .doctors-list {
      height: 0;
      overflow: hidden;
      position: relative;

      > .content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        padding: 0;
        overflow: hidden;
        transition: $transition;

      }
      &.open {
        height: auto;
        text-align: right;

        > .content {
          max-height: 420px;
          transition: $transition;
          overflow-y: auto;

        }
        button {
          margin-top: 21px;

        }

      }
      &-toggle {
        color: $green;
        font-size: 13px;
        margin: 10px 0 8px;

        &:hover {
          color: #00a967;
        }
        &:after {
          content: '\f107';
          font-family: FontAwesome, sans-serif;
          display: inline-block;

        }
        &.open {
           &:after {
             transform: rotateZ(180deg);

           }
         }
      }
      .item-default {
        .name {
          cursor: pointer;
        }
      }
      .item, .item-default {
        display: inline-flex;
        // width: calc(20% - 20px);
        max-width: 162px;
        margin: 0 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 13px;
        border-bottom: 2px solid #cecece;
        min-height: 210px;
        min-width: 130px;

        .avatar {
          cursor: pointer;
          border-radius: 50%;
          width: 90px;
          height: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;

          img {
          }
        }
        p {
          text-align: center;
          line-height: 1.3;
          margin: 0 auto;
          width: 100%;
          justify-content: center;
          padding: 0 10px;

          &.name {
            font-size: 13px;
          }
          &.rating {
            cursor: pointer;
            img {
              width: 11px;
              display: inline-block;
              margin: 0 2px;
            }
            span {
              font-size: 13px;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        &.active, &:hover {
          border-bottom: 2px solid $green;
          .avatar {
            border: 6px solid $green;
            position: relative;
            &:after {
              content: url("../img/check.svg");
              width: 20px;
              position: absolute;
              bottom: 0;
              right: 0;
              z-index: 99;
            }
          }
        }
      }
    }

    &.date {

        .lang, .zone {
          margin-top: 20px;
        }


      .dropdown {
        width: 321px;
        padding: 10px 8px 7px 6px;
        border-radius: 3px;
        border: 1px solid #d9d9d9;
        background-color: #ffffff;
        margin-bottom: 17px;

        a {
          color: #393939;

          &.dropdown-toggle::after {
            content: '\f107';
            font-family: FontAwesome, sans-serif;
            color: $green;
            border: none;
            font-size: 23px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 7px;
          }

          span {
            color: #878787;
          }
        }

        &-menu {
          right: 0;
        }
      }
      // .lang, .zone {
      //   margin-bottom: 15px;
      //   margin-right: 8px;
      //   position: relative;
      //   a {
      //     height: 34px;
      //     border: 1px solid #ddd;
      //     line-height: 34px;
      //     display: block;
      //     border-radius: 3px;
      //     padding-left: 8px;

      //     &:after {
      //         content: '\f107';
      //         font-family: FontAwesome, sans-serif;
      //         color: $green;
      //         border: none;
      //         font-size: 23px;
      //         line-height: 1;
      //         position: absolute;
      //         top: 50%;
      //         transform: translate(0,-50%);
      //         right: 17px;
      //     }
      //     span {
      //       font-weight: 600;

      //     }
      //   }
      // }
      // .lang {
      //   .lang-toggle {
      //     color: #878787;
      //     font-weight: 400;
      //     min-width: 210px;
      //     span {
      //       color: #2d2d2d;
      //     }
      //   }
      // }
      // .zone {
      //   .zone-toggle {
      //     color: #878787;
      //     font-weight: 400;
      //     min-width: 330px;
      //     span {
      //       color: #2d2d2d;
      //     }
      //   }
      // }
      button {
        &.button {
          margin-top: 9px;
          float: right;
          &.active {
            @extend .button--green
          }
        }
      }
      .row {
        width: 100%;
        flex-basis: 100%;
      }
      .tabs {
        display: flex;
        margin-bottom: 18px;

        .tab {
          display: inline-flex;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 12px 14px;
            margin-right: 8px;
            border: 1px solid $green;
            border-radius: 2px;


            span {
              font-size: 20px;
              justify-content: center;
              color: #000;
              text-align: center;
              line-height: 1.1;
              font-weight: 500;


            }
            &.active {
              border: 1px solid $light-green;
              background: $light-green;
            }
          }

        }
      }
      //.headers {
      //  display: flex;
      //  flex-wrap: nowrap;
      //  align-items: flex-end;
      //  .item {
      //    width: 25%;
      //    p {
      //      font-size: 13px;
      //      color: #7d7d7d;
      //      line-height: 1.1;
      //    }
      //  }
      //}
      .tab-content .tab-pane {
        padding-top: 40px;
      }
      .row-item {
        &:first-of-type {

          > * {
            height: 50px;
            position: relative;
            &:before {
              font-size: 13px;
              color: #7d7d7d;
              line-height: 1.1;
              position: absolute;
              bottom: calc(100% + 13px);
              width: 100%;
              left: 0;
              text-align: left;

            }
          }
          .hours {
            position: relative;
            &:before {
              content: 'W tym przedziale czasu rozpocznie się wizyta';

            }
          }
          .methods {
            position: relative;
            &:before {
              content: 'Dostępne kanały informacji';

            }
          }
          .price {
            position: relative;
            &:before {
              content: 'Cena';

            }
          }
        }
        &.slot {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 7px;
          border-top: 1px solid #ddd;
          cursor: pointer;
          > * {
            width: 25%;
          }
          &:hover, &.active {
            background: $light-green;
            button {
              background: $green;
              color: #fff;
              transition: $transition;
            }
          }
          &:last-of-type {
            border-bottom: 1px solid #ddd;
          }
          .hours {
            font-size: 20px;
            font-weight: 500;

          }
          .methods {
            white-space: nowrap;
            img {
              height: 3.6vw;
              margin: 0 0.5vw;
              display: inline-block;
              max-height: 42px;

            }
            .unavailable {
              filter: saturate(0);
            }
          }
          .price {

            span {
              font-size: 20px;
              font-weight: 500;


            }
          }
          button {
            margin: 0;
            min-width: 0;
            width: auto;
            height: auto;


          }
        }
      }
      .days-row {
        margin-top: 10px;
        padding-bottom: 19px;
        border-bottom: 1px solid #ddd;
        .slick-slide {
          height: auto;
        }
        .slick {
          &-arrow {
            position: absolute;
            top: 50%;
            z-index: 10;
            transform: translateY(-50%);
            cursor: pointer;

          }
          &-disabled {
            filter: saturate(0);
          }
          &-prev {
            left: 0;
          }
          &-next {
            right: 0;

          }
        }
        .day {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          span {
            text-align: center;
            justify-content: center;
            line-height: 1.2;
          }
          &-name {
            width: 100%;
            flex-basis: 100%;
            font-size: 20px;
          }
          &-date {
            width: 100%;
            flex-basis: 100%;
            font-size: 25px;
          }
        }
      }
      .slots-section {
        margin-top: 10px;
        padding-bottom: 22px;
        border-bottom: 1px solid #ddd;
        .column {
          height: auto;
          .slot {
            width: 92%;
            display: block;
            background: #f0fff9;
            color: #000;
            border-radius: 2px;
            font-size: 15px;
            margin: 6px 0;
            font-weight: 400;
            text-align: center;
            line-height: 27px;
            &:hover {
              background: #00c377;
              color: #fff;


            }
            &.active {
              background: #00c377;
              color: #fff;
            }
          }
        }
      }
      .submited-info {
        > div {
          height: 32px;
          line-height: 32px;
          font-size: 13px;
          font-weight: 400;
          background: $text-info-bg;
          color: $submited-info-color;
          border: 1px solid $select-border;
          border-radius: 3px;
          padding: 0 15px;
          display: inline-block;
          span {
            font-weight: 600;
          }
        }
        .date {

        }
        .lang {

        }
        .zone {

        }
      }
    }
    &.file {
      button {
        float: right;
        color: $green;
        border: none;
        background: transparent;
        &.button {
          &__rounded {
            border-radius: 18px;
            margin-top: 10px;

          }
          &--green {
            background: #00c377;
            color: #fff;
          }
        }

      }
      .content {
        justify-content: flex-end;
      }
      .upload {
        padding: 30px 0 20px;
        position: relative;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        cursor: pointer;
        border-bottom: 1px solid #ededed;

        input[type=file] {
          cursor: pointer;
          opacity: 0;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        .upload-visible {
          text-align: center;
          position: relative;
          &.uploaded {
            label {
              display: none;
            }
            p.name {
              &:after {
                content: url("../img/add_file-01.svg");
                display: inline-block;
                margin-left: 5px;
                vertical-align: sub;

              }
            }
          }

        }
        label {
          width: 40px;
          img {
            width: 100%;

          }
        }
        p {
          text-align: center;
          justify-content: center;
          margin: 0;
          line-height: 1.2;
          &.name {
            font-size: 20px;
            font-weight: 700;
          }
          &.info {
            font-size: 14px;
            font-weight: 400;
          }

        }
        #list {
          width: 100%;
          #uploaded {
            list-style: none;


            li {
              display: flex;
              align-items: center;
              border-bottom: 1px solid #ededed;
              padding: 14px 0;
              &:last-of-type {
                margin-bottom: 20px;
              }


              a.remove-element-file {
                display: inline-block;
                margin: 0 0 0 7px;

                vertical-align: middle;
                img {
                  width: 12px;
                }
              }
            }
          }
        }
      }
      .submited-info {
        margin: 5px 22px;
        .uploaded {
          list-style: none;

          li {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ededed;
            padding: 14px 0;
            &:last-of-type {
              margin-bottom: 20px;
            }

            a.remove {
              display: inline-block;
              margin: 0 0 0 4px;
              vertical-align: middle;
              img {
                width: 12px;
              }
            }
          }
        }
        p {
          margin: 0;
          font-weight: 600;
          color: $submited-info-color;

        }
        div {
          font-weight: 400;
          color: $submited-info-color;
        }
      }
    }
    &.login {
      display: none;
      &.active, &.visited {
        display: block;
      }
      .content {
        flex-direction: column;
        .row {
          align-items: flex-end;
        }
      }
      button.button--green {
        margin-top: 0;
      }
      p {
        margin-top: 15px;
        margin-bottom: 8px;
      }
      a.remind {
        color: $green;
        font-size: 14px;
        font-weight: 600;
        display: block;
        position: absolute;

      }
      .submited-info {
        .data {
          p {
            color: $submited-info-color;
            font-weight: 600;
            display: inline-block;

            &.toggler {
              font-weight: 400;
              height: 32px;
              line-height: 32px;
              //font-size: 15px;
              background: $text-info-bg;
              color: $submited-info-color;
              border: 1px solid $select-border;
              border-radius: 3px;
              padding: 0 15px;
            }
          }
        }
        .info {
          display: inline-block;

          p {
            font-size: 14px;
            color: #008234;
            line-height: 26px;
            height: 26px;
            padding: 0 10px;
            border-radius: 3px;
            background: $light-green;
          }
        }
      }
      .payment {
        display: none;
        &.active {
          display: block;
          .info-list {
            padding-bottom: 8px;
            .item {
              align-items: flex-end;
              padding: 8px 0 8px 37px;
              position: relative;
              img {
                position: absolute;
                top: 11px;
                left: 5px;
              }
              .title {
                color: #8f8f8f;
                font-size: 13px;
              }
              .value {
                color: #000;
                font-size: 18px;
                margin: 0;
              }
              button.button {
                font-size: 13px;
                white-space: nowrap;
                background: #dddddd;
                display: none;
                &.active {
                  background: $green;
                  color: #fff;
                }


              }
            }
            .pay {
              padding-top: 23px;
              border-top: 1px solid #ddd;
              .check {
                input[type=checkbox] {
                  &:checked {
                    + label {
                      &:after {
                        content: '\f14a';
                      }
                    }
                  }
                }
                label {
                  margin: 0;
                  a {
                    color: $green;
                  }
                }
              }
              .row {
                padding-top: 15px;
                align-items: center;
                button.button--green {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

  }
}
.code {
  .have-code {
    display: block;
    p {
      cursor: pointer;
      color: $green;
    }
  }

  .code-active {
    display: none;
  }
}
.discount-submit {
  display: none;

}




.popup, .popup-default {
  display: none;
  position: absolute;
  top: 10%;

  overflow-y: auto;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 80%;
  background: #fff;
  box-shadow: 0 0 40px rgba(0,0,0,.3);
  padding: 20px;
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header {
    .name {
      margin: 0;
      font-weight: 600;
      text-align: left;
    }
    .prof {
      margin: 0;
      font-weight: 500;
      text-align: left;
    }
    .basic-rate {
      font-weight: 400;
      text-align: left;
      margin: 0;
      p {
        margin: 0;
        display: inline-block;
        font-size: 14px;
        &.rating {
          img {
            width: 14px;
          }
        }
      }
    }
  }
  p.content {
    margin: 20px 0;
    line-height: 1.1 !important;
    font-size: 14px;
    font-weight: 300 !important;
    text-align: left;
  }
  > .rating {
    text-align: left;
    p {
      margin: 6px 0 0 0!important;
    }
    p.rating {
      display: inline-block;

      img {
        width: 14px;
      }
    }
    p.date {
      display: inline-block;
      text-align: right;
    }
    .content {
      p {
        padding: 4px;
        background: #ededed;
        width: 100%;
        font-size: 14px;
        margin: 0 0 4px;
      }
    }
    p.name {
      font-size: 13px;
      font-weight: 300;
    }
  }
}