$green: #00c377;
$light-green: #e9faf4;
$progres-grey: #ededed;
$bg-body-grey: #f8f8f8;

$text-info-bg: #f2f2f2;
$text-info-color: #3e3e3e;

$submited-info-color: #7d7d7d;

$active-breadcrumb-text: #2b2b2b;
$inactive-breadcrumb-text: #c2c2c2;

$inactive-section-grey: #fafafa;
$inactive-section-text: #848484;

$select-border: #d9d9d9;


$transition: all .25s ease-in-out;